body {
  margin: 0;
  background-color: #F0FFE0;
  font-family: 'Recursive', sans-serif;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
  justify-content: center;
}

.item {
  height: 300px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 10px;
}
.item:nth-child(4n+1) {
  width: 600px;
  grid-column: span 2;
}
.item:nth-child(4n+2) {
  width: 300px;
}
.item:nth-child(4n+3) {
  width: 300px;
  margin-right: -5px;
}
.item:nth-child(4n+4) {
  width: 600px;
  grid-column: span 2;
  margin-left: 10px;
}

.item:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BFB;
}
.title-text {
  font-size: 3em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}
.item:nth-child(2) {
  background-color: #F0FFE0;
}
.icon-req {
  width: 300px;
  border-radius: 20px;
}

.item:nth-child(3) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BFF;
}

.item:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9EB;
}
.icon {
  position: relative;
}
.icon-w60 {
  width: 60px;
  margin: 0 15px;
}
.icon-h60 {
  height: 60px;
  margin: 0 15px;
}
.link-twitter:hover:after {
  color: black;
  content: "Twitter";
  position: absolute;
  top: 70px;
  left: 15px;
}
.link-github:hover:after {
  color: black;
  content: "GitHub";
  position: absolute;
  top: 70px;
  left: 112px;
}
.link-qiita:hover:after {
  color: black;
  content: "Qiita";
  position: absolute;
  top: 70px;
  left: 215px;
}
.link-scrapbox:hover:after {
  color: black;
  white-space: pre;
  content: "Scrapbox\A(技術メモ)";
  position: absolute;
  top: 70px;
  left: 285px;
}
.link-blog:hover:after {
  color: black;
  content: "ブログ";
  position: absolute;
  top: 70px;
  left: 410px;
}

.item:nth-child(5) {
  background-color: #CFD;
  position: relative;
}
.icon-biotter {
  position: absolute;
  width: 80px;
  border-radius: 10px;
  top: 110px;
  left: 20%;
}
.biotter-title {
  position: absolute;
  top: 85px;
  left: 37%;
  font-size: 1.5em;
}
.biotter-description {
  position: absolute;
  color: #024;
  top: 135px;
  width: 50%;
  left: 37%;
  font-size: 1em;
}

.item:nth-child(6) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEA;
}
.item:nth-child(7) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEB;
}

.item:nth-child(8) {
  background-color: #CEB;
}
.carrer {
  margin: 40px;
}
.carrer-term {
  font-size: 0.8em;
}
.carrer-company {
  font-size: 1.2em;
  color: #23E;
  text-decoration: none;
}
.carrer-description {
  color: #233;
}

